.top-header-container {
	position: absolute;
	left: 70%;
	top: 0;
	padding: 0.5rem;
}

.top-header-container .top-header-container__favoritos,
.top-header-container .top-header-container__agregar {
	background-color: #6B63B5;
	padding: 0.5rem;
	position: relative;
	padding-right: 2rem;
}

.top-header-container span img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 0.3rem;
}

.top-header-container .top-header-container__favoritos {
	border-bottom-left-radius: 10px;
	border-right: 1px solid #403B6D;
}

.top-header-container  .top-header-container__agregar {
	border-bottom-right-radius: 10px;
}

.harry-logo-and-text-section {
	text-align: center;
	padding-top: 10rem;
}

.harry-logo-and-text-section .selection {
	font-weight: bold;
	font-size: 2rem;
	margin-top: 0.5rem;
}