.card-container {
	background-color: #fff;
	color: #000;
	display: flex
}

.card__img-section {
	background: linear-gradient(135deg, #FF0000 0%, #FED482 100%);
	width: 33%;
}

.card__img-section img {
	border-radius: 50%;
}

.card__infos-section__desc {
	width: 67%;
}